.active,
.inactive {
  position: relative;
  cursor: pointer;
  width: 9.7rem;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.875rem;
  border-top-right-radius: 0.875rem;
  font-size: 0.875rem;
}
.active:hover,
.inactive:hover {
  background-color: var(--light-gray);
  color: white;
}

.active {
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
.inactive {
  background-color: black;
  color: var(--light-gray);
}
