.combo,
.statisticsCombo {
  display: flex;
  padding: 5px 10px;
  background-color: var(--dark-light-gray);
  flex-direction: row;
}
.statisticsCombo {
  background-color: transparent;
  justify-content: space-between;
}

.title {
  width: 40%;
  user-select: none;
}

.select {
  width: 60%;
  background-color: var(--dark-gray);
  color: var(--white);
  outline: 0 none;
  text-align: center;
}

.select:focus {
  outline: 2px solid var(--light-gray);
}

.option {
  background-color: var(--light-gray);
}
.true,
.false {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 50%;
  color: var(--white);
}
.false {
  background-color: red;
}
