.listHeader {
  display: flex;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 1px;
  background-color: var(--dark-light-gray);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.iconHover:hover {
  color: var(--light-gray);
  cursor: pointer;
}
